# Byte-compiled / optimized / compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/

# Sphinx build files
docs/_build/
docs/*.log

# Egg info and build artifacts (but not dist)
*.egg-info/
.eggs/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
*.swp
*.swo

# Logs and temporary files
*.log
*.tmp

# Test results
tests/__pycache__/
tests/*.pyc

# IDE files
.vscode/
.idea/
*.iml

# Mac-specific files
.AppleDouble
.LSOverride

# Miscellaneous
*.bak
*.old
*.o
*.so
*.c
*.h


# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.bcf
*.run.xml
*.fls
*.fdb_latexmk
*.synctex.gz
