include README.md
include pyproject.toml
include setup.py
include MANIFEST.in
include dual_autodiff_x/*.pyx
include dual_autodiff_x/*.pxd

# Include compiled shared objects
recursive-include dual_autodiff_x *.so

# Exclude unnecessary source files
exclude dual_autodiff_x/*.c
exclude dual_autodiff_x/*.cpp
exclude dual_autodiff_x/*.h

